<h1>エラー一覧</h1>

<ul>
  <% @errors.each do |error| %>
    <li><%= link_to error.id, error %> : <% error.content %> &gt; <%= error.message %></li>
  <% end %>
</ul>
<%== pagy_nav(@pagy) %>

<%= link_to '新規エラーメッセージの登録', new_error_path %>